@import "compass/css3";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot);

  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../fonts/MaterialIcons-Regular.woff2) format("woff2"), url(../fonts/MaterialIcons-Regular.woff) format("woff"), url(../fonts/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  @include box-sizing(content-box);

  position: relative;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;

  /* Preferred icon size */
  display: inline-block;
  top: 4px;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  &.menu-button {
    &:before {
      content: "\E5D2";
    }

    &:active {
      @include animation(rotate 1s ease 1s);

      @include keyframes(rotate) {
        from {
          @include transform(rotate(0deg));
        }

        to {
          @include transform(rotate(-180deg));
        }
      }
    }

    cursor: pointer;

    @include border-radius(100%);

    @include transition(transform 0.3s ease-in-out);

    @include transform-origin(center center);

    color: #fff;
    background-color: color("cyan", "lighten-1");
    position: absolute;
    top: 8px;
    left: 20px;
    z-index: 101;
    font-size: 2em;
    padding: 5px;

    &.close {
      &:before {
        content: "\E5CD";
      }

      &:active {
        @include animation(rotate 1s ease 1s);

        @include keyframes(rotate) {
          from {
            @include transform(rotate(0deg));
          }

          to {
            @include transform(rotate(180deg));
          }
        }
      }

      @extend .menu-button;
    }
  }
}

.arrow.downward {
  &:before {
    content: "\E5DB";
  }
}
