@import "compass/css3";
@import "variables";
@import "mixin";
.btn {
    margin: 5px auto;
    padding: 7px 2rem;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    border: none;
    @include border-radius(3px);
    @include box-shadow(0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12));
    text-decoration: none;
}

.btn-default {
	span {
		line-height: inherit;
		font-size: 1.3rem;
	}
    color: #fff;
    background-color: $button-color;
	&:hover {
		background-color: lighten($button-color,5%);
		@include shadow(3);
	}
}

ol, ul {
    list-style: none;
}