@charset "UTF-8";

@import "compass/css3";
@import "variables";
@import "mixin";

a {
  text-decoration: none;
  color: $link-color;

  &:hover {
    color: lighten($link-color, 10%);
    text-decoration: underline;
    transition: .2s;
  }
}

code {
  font-family: monospace;
}

.blod {
  font-weight: bold;
}

.btn {
  margin: 5px auto;
  padding: 7px 2rem;
  font-size: 14px;
  display: inline-block;
  text-align: center;
  border: none;

  @include border-radius(3px);

  @include box-shadow(0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12));

  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.btn-default {
  span {
    line-height: inherit;
    font-size: 1.3rem;
  }

  color: #fff;
  background-color: $button-color;

  &:hover {
    background-color: lighten($button-color, 5%);

    @include shadow(3);

    color: #fff;
  }
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 3px 0;
  &:after {
    text-align: center;
  }
}
.image-link {
    &:hover {
    cursor: zoom-in;
  }
}
p {
  line-height: 1.6em;
  margin: 1.6em 0;
}

article {
  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  h1, h2, h3 {
    font-family: 新細明體;
  }

  h2 {
    padding-bottom: 10px;
    border-bottom: 2px solid grey;
  }
}

.article-list {
  position: relative;

  .article-card {
    @include border-radius(4px);

    display: flex;
    flex-direction: column;
    min-height: 300px;
    margin: 16px;
    background-color: #fff;

    .article-card-media {
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      align-items: flex-end;
      background: linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
      background-size: cover;
      background-position: center;
      padding: 24px;
      color: #fafafa;

      a {
        color: inherit;
        text-decoration: none;
      }

      h3 {
        font-size: 34px;
        cursor: pointer;
        line-height: 40px;
        margin: 0;
      }
    }

    .article-card-support-text {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      padding: 16px;
      min-height: 50px;
      font-weight: 600;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      .author-pic {
        @include border-radius(50%);

        margin-right: 16px;
        display: inline-block;
        width: 60px;
        height: 60px;
        margin-right: 1em;
        background: cover no-repeat;
        background-size: cover;
      }

      * {
        display: flex;
        flex-direction: column;
        margin: 0;
      }
    }
  }
}

.table-striped {
  width: 100%;
  max-width: 100%;
  text-align-last: left;
  line-height: 1.43;
  border-collapse: collapse;

  tbody {
    th, tr, td {
      border-top: 1px solid #ddd;
      padding: 8px;
    }
  }

  tr:nth-child(even) {
    background-color: $background-color;
  }

  thead {
    th {
      padding: 8px;
    }

    border-bottom: 2px solid #ddd;
  }
}

.table {
  width: 100%;
  max-width: 100%;
  text-align-last: left;
  line-height: 1.43;
  border-collapse: collapse;

  tbody {
    th, tr, td {
      border-top: 1px solid #ddd;
      padding: 8px;
    }
  }

  .table-border {
    th, tr, td {
      border: 1px solid #ddd;
    }
  }

  .table-color {
    background-color: $background-color;
  }

  thead {
    th {
      padding: 8px;
    }

    border-bottom: 2px solid #ddd;
  }
}

.footer {
  background: #171f26;
  position: relative;
  padding: 40px 0;
  font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: hsla(0, 0%, 83%, 0.83);

  &:before, &:after {
    display: table;
    content: "";
  }

  .inline {
    margin: 0;

    li {
      display: inline;
      margin: 0 5px;
    }
  }

  p {
    padding-left: 45px;
    margin: 3px 0;
  }

  a {
    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }

  i {
    top: 7px;
  }
}

.author-box {
  @include shadow(2);

  background: #fff;
  margin: 20px 0;
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  * {
    display: flex;
    flex-direction: column;
  }

  .author-pic {
    @include border-radius(50%);

    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 1em;
    background: cover no-repeat;
    background-size: cover;
  }

  .author-name {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
