/* Colors */
$button-color: #039be5 !default;

/* Colors From Google Material Design
https://www.google.com/design/spec/style/color.html
*/
$red: (
	"base" : #F44336,
	"lighten-1": #EF5350,
	"lighten-2": #E57373,
	"darken-1": #E53935,
	"darken-2": #D32F2F
	);

$blue: (
	"base" : #2196F3,
	"lighten-1": #42A5F5,
	"lighten-2": #64B5F6,
	"darken-1": #1E88E5,
	"darken-2": #1976D2
	);

$indigo: (
	"base" : #3F51B5,
	"lighten-1": #5C6BC0,
	"lighten-2": #7986CB,
	"darken-1": #3949AB,
	"darken-2": #303F9F
	);

$deep_purple: (
	"base" : #673AB7,
	"lighten-1": #7E57C2,
	"lighten-2": #9575CD,
	"darken-1": #5E35B1,
	"darken-2": #512DA8
	);

$orange: (
	"base" : #FF9800,
	"lighten-1": #FFA726,
	"lighten-2": #FFB74D,
	"darken-1": #FB8C00,
	"darken-2": #F57C00
	);

$deep_orange: (
	"base" : #FF5722,
	"lighten-1": #FF7043,
	"lighten-2": #FF8A65,
	"darken-1": #F4511E,
	"darken-2": #E64A19
	);

$yellow: (
	"base" : #FFEB3B,
	"lighten-1": #FFEE58,
	"lighten-2": #FFF176,
	"darken-1": #FDD835,
	"darken-2": #FBC02D
	);

$cyan: (
	"base" : #00BCD4,
	"lighten-1": #26C6DA,
	"lighten-2": #4DD0E1,
	"darken-1": #00ACC1,
	"darken-2": #0097A7
	);

$green: (
	"base" : #4CAF50,
	"lighten-1": #66BB6A,
	"lighten-2": #81C784,
	"darken-1": #43A047,
	"darken-2": #388E3C
	);

$grey: (
	"base" : #9E9E9E,
	"lighten-1": #BDBDBD,
	"lighten-2": #E0E0E0,
	"darken-1": #757575,
	"darken-2": #616161
	);

$colors: (
	"red" : $red,
	"blue": $blue,
	"indigo": $indigo,
	"deep_purple": $deep_purple,
	"orange": $orange,
	"deep_orange": $deep_orange,
	"yellow": $yellow,
	"cyan": $cyan,
	"green": $green,
	"grey": $grey
	);

@each $color_name, $color in $colors {
  @each $color_type, $color_value in $color {
    .#{$color-name}-#{$color-type} {
    	background-color: $color_value !important;
    }
  }
}

@function color($color,$type) {
  @if map-has-key($colors,$color) {
    $color_name: map-get($colors,$color);
    @if map-has-key($color_name,$type) {
      @return map-get($color_name,$type);
    }
  }
  @warn "Unknown "$color"";
  @return null;
}
$link-color: color("blue", "base");
$list-hover: color("grey","lighten-1");
$background-color: color("grey","lighten-2"); 
