@charset "UTF-8";

@import "layout";
@import "compass/css3";
@import "grid";

html:lang(zh-Hans),
html:lang(zh-CN) {
    font-family: "Biaodian Pro Sans GB", "Helvetica Neue", Helvetica, Arial, "Han Heiti GB", sans-serif;
}

body {
    height: 100%;
    padding: 10px auto;
    line-height: 1.5em;
    color: rgba(0, 0, 0, 0.87);
    font-family: "Open Sans", "文泉驛正黑", WenQuanYi Zen Hei, 微軟正黑體, Microsoft JhengHei, Microsoft JhengHei, Droid Sans, PMingLiU, Helvetica, sans-serif;
    font-size: 16px;
}

.header {
    @include background(linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://unsplash.com/photos/5Dga0T0x6GY/download) no-repeat local center (center / cover));
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    .baner {
        text-align: center;
        h1 {
            color: white;
            font-family: "Open Sans", Helvetica, sans-serif;
        }
        p {
            color: #fff;
        }
    }
}

ul.actions {
    list-style: none;
    padding-left: 0;
}